* {
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* background-color: seashell; */
}

body{
    background: seashell;
}

a {
    text-decoration: none;
}

#svg_defs {
    display: none;
}

/* Base navbar behavior. */
.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #758ECD;
    height: auto;
}

div.nav_column {
    display: flex;
    flex: 1;
    padding: 10px;
    justify-content: center;
    align-items: center;
}
/* ------------------------- */

/* Mobile Layout */
@media screen and (min-width: 300px) {

    .nav_icon {
        width: 10vw;
        height: auto;
    }

    #mail_column {
        flex: 3;
        justify-content: start;
    }

    #logo_container_desktop {
        display: none;
    }

    #logo_mobile {
        width: 15vw;
    }
}
/* ------------------------- */

/* Tablet Layout */
@media screen and (min-width: 600px) {
    .nav_icon {
        width: 6vw;
        height: auto;
    }

    #mail_column {
        flex: 4;
    }

    #logo_container_mobile {
        display: none;
    }

    #logo_container_desktop {
        display: flex;
        flex: 4;
    }

    #logo_desktop {
        width: 33vw;
    }
}
/* ------------------------- */

/* Desktop Layout */

@media screen and (min-width: 900px) {
    #mail_column {
        flex: 6;
    }

    .nav_icon {
        width: 3.5vw;
        min-width: 10rem;
        height: auto;
    }

    #logo_container_desktop {
        justify-content: start;
        align-items: center;
        flex: 2.5;
    }

    #logo_desktop {
        width: 18vw;
        min-width: 50rem;
    }
}
