/* Clearing default styling and setting globals styles. */
* {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* background-color: seashell; */
}

body {
  background: seashell;
}

a {
  text-decoration: none;
}

/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: silver;
}

.navbar > div {
  padding: 0.5vw;
  width: 8vw;
}

#logo-container-mobile {
  width: 15vw;
}

#mail-icon-container {
  width: 30vw;
  justify-content: start;
}

#mail-icon {
  width: 8vw;
}

.contained-svg {
  width: 100%;
  height: auto;
}

/* =========================================== */
/* Decoration Classes */
.periwinkle_background {
  background: #758ecd;
}

.hidden {
  display: none;
}
